@import "./variables";

#root {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/fon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: $fontFamilyMain;
  font-size: $fontSizeM;
}

main {
  padding-top: 100px;

  @media (max-width: 1000px) {
    padding-top: 70px;
  }
}